---
Language: Cpp
BasedOnStyle: Google

AccessModifierOffset: -4

IndentWidth: 4
TabWidth: 4

BreakBeforeBraces: Custom
BraceWrapping:
  AfterNamespace: true

SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeRangeBasedForLoopColon: false

BreakConstructorInitializers: AfterColon
# BreakBeforeCloseBracketFunction: true

AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
